<div class="container">
    
      <h2 class="mt-4">Cadastrando o Produto</h2>
      <p>Não se esqueça de salvar as alterações antes de sair</p>
    
      <form>
        <div class="form-group">
          <div>
            <label for="nome">Nome</label>
            <input class="form-control" id="nome" type="text">
          </div>
          <div class="my-4">
            <label for="descricao">Descrição</label>
            <input class="form-control" id="descricao" type="text">
          </div>
          <div class="my-4">
            <label for="categoria">Categoria</label>
            <select class="form-control" id="categoria" type="text">
              <option>-</option>
              <option>RPG</option>
              <option>Corrida</option>
              <option>Aventura</option>
            </select>
          </div>
          <div class="my-4">
            <label for="preco">Preço</label>
            <input class="form-control" id="preco" type="text">
          </div>
        </div>
      </form>
    
      <button class="btn btn-success" routerLink="/admin/produtos/listar">Salvar</button>
    
    </div>